/* Dark Mode (default) */
:root {
    --bg: #000b18;
    --text-header: #95BFFF;
    --bg-lighter: #00172D;
    --bg-darker: #0a0a0a;
    --secondary: #f2f2f2;
    --text-muted: #a0a0a0;
    --accent-color: #4a6fa5;
    --accent-hover: #5f84bb;

    --contact-h2: #95BFFF1A;
    --card-bg: #0d1726;
    --card-img-bg: #1e2d45;
}

/* Light Mode */
[data-theme="light"] {
    --bg: #f0f8ff;
    --text-header: #0052a2;
    --bg-lighter: #DFF0FF;
    --bg-darker: #0a0a0a;
    --secondary: #000b18;
    --text-muted: #a0a0a0;
    --accent-color: #4a6fa5;
    --accent-hover: #4e6fa3;

    --contact-h2: #000B181A;
    --card-bg: #e8f0fa;
    --card-img-bg: #dbe9f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body {
    overflow-x: hidden;
}
*/

body {
    font-family: 'Instrument Sans', sans-serif;
    background-color: var(--bg);
    color: var(--secondary);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

h1, h3 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--secondary);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--accent-hover);
}

section {
    padding: 5rem 0;
    position: relative;
}

section::before {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-muted);
    opacity: 0.1;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Navigation */
header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: var(--bg);
    border: var(--secondary) 1px solid;
    border-radius: 25px;
    padding: 0.5vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    font-size: 0.9rem;
    font-weight: 500;
}

.nav-link.active {
    color: var(--text-header);
}

.mode-toggle {
    cursor: pointer;
    transition: color 0.3s ease;
}
  
.mode-toggle:hover {
    color: var(--primary-color);
}
  

/* Hero Section */
.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-weight: bold;
    font-size: 5rem;
}

.wave {
    display: inline-block;
    animation: wave 3s infinite;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.hero h2 {
    font-weight: 500;
}

.hero p {
    font-weight: 500;
}

.welcome-text {
    font-style: italic;
    font-size: 1.5rem;
    margin: 2rem 0;
    font-weight: bold;
}

.scroll-down {
    display: inline-block;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: var(--text-muted);
    border-bottom: 1px solid var(--text-muted);
}

/* About Section */
.about {
    background-color: var(--bg);
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .container {
    width: 100%;
}

.about h3 {
    text-align: center;
    color: var(--text-header);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
}

.about h2 {
    text-align: center;
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.about-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.greeting {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

/* Skills Section */
.skills {
    padding: 3rem 0;
    background-color: var(--bg);
}

.skills .container {
    position: relative;
    text-align: center;
    height: 100px; /* Add this to give room for centering */
}

.skill-icon {
    height: 75px;
    flex-shrink: 0;
}

.skills h3 {
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    z-index: 2;
    pointer-events: none; /* So hover still reaches the container */
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100px; /* Adjust as needed */
    filter: blur(5px);
    opacity: 0.3;
    transition: filter 0.5s ease, opacity 0.5s ease;
}
  
.skills-carousel {
    display: flex;
    gap: 2rem;
    animation: scroll-left 15s linear infinite;
}

/* Hover effect */
.container:hover .carousel-wrapper {
    filter: blur(0);
    opacity: 1;
}

.skills .container:hover h3 {
    opacity: 0;
}

/* Keyframes for scrolling */
@keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

/* Portfolio Section */
.portfolio {
    background-color: var(--bg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .container {
    width: 100%;
}

.portfolio h3 {
    text-align: center;
    color: var(--text-header);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
}

.section-description {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--text-muted);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background-color: var(--card-bg);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-img {
    height: 200px;
    background-color: var(--card-img-bg);
}

.project-card h2 {
    padding: 1rem 1rem 0.5rem;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.status {
    margin-left: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}
  
.status.ongoing {
    background-color: #28a745;
    color: var(--secondary);
}
  
.status.completed {
    background-color: #6c757d;
    color: var(--secondary);
}

.project-card p {
    padding: 0 1rem;
    color: var(--text-muted);
    font-size: 0.9rem;
}

.project-links {
    padding: 1rem;
}

.project-links a {
    color: var(--accent-color);
    font-size: 0.9rem;
    font-weight: 500;
}

.project-links a:hover {
    text-decoration: underline;
}

/* Contact Section */
.contact {
    background-color: var(--bg);
    position: relative;
}

.contact h2 {
    margin: -5rem;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 8rem;
    letter-spacing: 0.5rem;
    color: var(--contact-h2);
}

.contact-content {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--bg);
    border: var(--secondary) 1px solid;
    border-radius: 12px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    height: 100%;
}

.contact-text h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-text p {
    opacity: 75%;
}

.contact-form {
    padding: 2rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--secondary);
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--bg-lighter);
    border: 1px solid var(--secondary);
    border-radius: 8px;
    color: var(--secondary);
    font-family: inherit;
}

textarea {
    resize: vertical;
}

.submit-btn {
    background-color: var(--secondary);
    color: var(--bg);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.submit-btn:hover {
    background-color: var(--accent-hover);
}

/* Footer */
footer {
    background-color: var(--bg-darker);
    padding: 1rem 0;
    text-align: center;
    color: var(--text-muted);
    font-size: 0.9rem;
}

/* Media Queries */
@media (max-width: 970px) {
    .contact h2 {
        font-size: 100px;
        margin: -4rem;
    }
}

@media (max-width: 770px) {
    .container {
        padding: 0 3rem;

    }
    .about h2 {
        font-size: 2rem;
    }

    .about p {
        font-size: 0.9rem;
    }

    .contact h2 {
        font-size: 80px;
        margin: -3rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    .contact-text {
        padding-bottom: 0;
    }

    .contact-text h3 {
        padding-top: 1rem;
        font-size: 2rem;
        margin-bottom: 0.3rem;
    }

    .contact-text p {
        padding: 0 2rem;
    }
    
    .contact-content {
        grid-template-columns: 1fr;
    }
    
    .form-row {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 580px) {
    .contact h2 {
        font-size: 50px;
        margin: -1.7rem;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 3rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }
    
    .logo {
        gap: 3px;
        font-size: 1rem;
    }

    .mode-toggle svg {
        width: 0.9rem;
        height: 0.9rem;
    }
    
    .nav-links {
        gap: 0.5rem;
    }

    .nav-links a {
        font-size: 0.8rem;
    }

    .about h3 {
        font-size: 1rem;
    }

    .about h2 {
        font-size: 1.9rem;
    }
    
    .contact-text p {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .contact h2 {
        font-size: 45px;
        letter-spacing: 5px;
        margin: -1.5rem;
    }
}

@media (max-width: 395px) {
    .logo {
        gap: 1px;
        font-size: 0.8rem;
    }

    .nav-links a {
        font-size: 0.6rem;
    }

    .contact h2 {
        font-size: 35px;
        letter-spacing: 3px;
        margin: -1.2rem;
    }

    .contact-text h3 {
        font-size: 1.3rem;
    }

    .contact-text p {
        padding: 0 0.5rem;
    }
}